<h2>Simple Blog</h2>
<!--<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Tittle
      <br>
      <input type="text" formControlName="title">
    </label>
  </div>
  <div *ngIf="postForm.get('title').invalid && postForm.get('title').touched" style="color: red">
    Tittle is required and min length is 10
  </div>
  <div>
    <label>
      Body
      <br>
      <textarea formControlName="body" cols="30" rows="10" ></textarea>
    </label>
  </div>
  <div style="color: red"  *ngIf="postForm.get('body').invalid && postForm.get('body').touched">
    Body is required and min length is 10
  </div>
  <button type="submit">Submit</button>
</form>-->

<ul>
  <li *ngFor="let blog of blogList; index as i">
    <h3>
      <a [routerLink]="['/blog', blog.id]">
        Blog Info:
        <br>
        - Id: {{blog.id}}
        <br>
        - CreateDate: {{blog.createDate.year}}, {{blog.createDate.month}}, {{blog.createDate.dayOfMonth}}, {{blog.createDate.dayOfWeek}}
        <br>
        - Title: {{blog.title}}
        <br>:
        - Category: {{blog.category.name}}
        <br>:
        - Content: {{blog.content}}
        <br>:
        - Image: {{blog.image}}
        <br>
      </a>
    </h3>
    <a [routerLink]="['/blog', blog.id, 'edit']">Edit</a>
  </li>
</ul>
